<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href="@{/css/home.css}" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <title th:text="${title}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link th:href="@{/static.css/home.css}" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Цветочный магазин</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/index">Главная страница</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Информация о магазине</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/reg">Регистрация</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/auth">Авторизация</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="start"></div>
<p style="width: 80%; padding-left: 25%"> Белая Роза - символ чистоты и невинности. Чаще всего именно белые розы дарят в честь искренней любви, такой же чистой, как девственно белая пелена первого снега. Белые розы — совершенная противоположность красных, которые дарят, выражая свою страсть и безумные жаркие чувства. Белая роза является символом вечной любви, более чистой, сильной и крепкой, чем все земные чувства, в том числе и страсть. Вот почему букет из белых роз дарят на свадьбу. В древнегреческих легендах что розы были белыми, пока однажды Афродита не укололась шипами розы. Капли крови скатилась из её пальца и превратили белые розы в красные. В других легендах рассказывалось, что роза покраснела от поцелуя истинной любви. Обретая другой цвет, роза всегда теряла свою невинность. </p>
<div class="start"></div>
<div class="picture3682">
  <a href="RR"><img src="/images/Роза белая.jpg" hspace="20%" width="20%"/> </a>
  <a href="/WR"><img src="/images/БРБ.jpg" width="20%" height="20%"/> </a>
  <table class="text">
    <tr>
      <td style="text-indent: 47%"><h2> Белая Роза [69р/шт] </h2> </td>
      <td class="rightcol2"> <h2> 30 белых Роз в букете [1670р] </h2> </td>
    </tr>
  </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</body>
</html>